---

---

<header class="flex h-20 p-2.5 bg-azul items-center gap-2.5">
  <figure>
    <img src="/Icons/utadeo.svg" alt="Logo de la Universidad" />
  </figure>
  <section class="ml-auto">
    <nav class="flex w-30p"></nav>
  </section>
</header>
